
# Base settings
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
html_directory = no
manpage_directory = /usr/share/man
sample_directory = no
readme_directory = no
mail_owner = postfix
setgid_group = postdrop

# Listening settings
inet_interfaces = {{ interfaces }}
inet_protocols = {{ protocols }}

# Local/Relay settings
myhostname = {{ myhostname }}
{% if mydomain is defined %}
mydomain = {{ mydomain }}
{% endif %}
mydestination =
	$myhostname
	localhost.$mydomain
	localhost
{% for dest in mydestination %}
	{{ dest }}
{% endfor %}
{% if mynetworks is defined %}
mynetworks =
	127.0.0.0/8
	[::1]/128
{% for net in mynetworks %}
	{{ net }}
{% endfor %}
{% else %}
mynetworks_style = host
{% endif %}
relay_domains =
	$mydestination
{% if with_mailman3 %}
	hash:/var/lib/mailman3/data/postfix_domains
{% endif %}
{% for relay in relay_domains %}
	{{ relay }}
{% endfor %}
{% if relayhost is defined %}
relayhost = {{ relayhost }}
{% endif %}

# Delivery/Redirection settings
alias_maps =
	hash:/etc/aliases
	hash:/etc/postfix/aliases.local
{% for alias in alias_maps %}
	{{ alias }}
{% endfor %}
alias_database =
	hash:/etc/aliases
	hash:/etc/postfix/aliases.local
{% for alias in alias_database %}
	{{ alias }}
{% endfor %}
local_recipient_maps =
	$alias_maps
{% if with_mailman3 %}
	hash:/var/lib/mailman3/data/postfix_lmtp
{% endif %}
{% for map in local_recipient_maps %}
	{{ map }}
{% endfor %}
transport_maps =
{% if with_mailman3 %}
	hash:/var/lib/mailman3/data/postfix_lmtp
{% endif %}
{% for map in transport_maps %}
	{{ map }}
{% endfor %}

{% if auth is defined %}
# Auth settings
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
{% endif %}
{% if auth == "sasldb" %}
smtpd_sasl_type = cyrus
smtpd_sasl_application_name = smtpd
smtpd_sasl_local_domain = $mydomain
{% endif %}
{% if auth == "dovecot" %}
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
{% endif %}

{% if tls_method is defined %}
# Encryption settings
smtp_use_tls = yes
smtp_tls_cert_file = {{ cert_file }}
smtp_tls_key_file = {{ key_file }}
smtp_tls_session_cache_database = btree:$data_directory/smtp_tls_session_cache
smtp_tls_ciphers = medium
smtp_tls_loglevel = 1
smtpd_use_tls=yes
smtpd_tls_cert_file = {{ cert_file }}
smtpd_tls_key_file = {{ key_file }}
smtpd_tls_session_cache_database = btree:$data_directory/smtpd_tls_session_cache
smtpd_tls_dh1024_param_file = {{ dh_file }}
smtpd_tls_ciphers = medium
smtpd_tls_auth_only = yes
smtpd_tls_received_headers = yes
smtpd_tls_loglevel = 1
{% endif %}

# Security settings
#
# with smtpd_delay_reject it is easy to combine restrictions in a single
# list without surprises
# see http://www.postfix.org/SMTPD_ACCESS_README.html#danger
smtpd_delay_reject = yes
smtpd_delay_open_until_valid_rcpt = yes
smtpd_recipient_restrictions =
{% for restriction in smtpd_recipient_restrictions_common %}
	{{ restriction }}
{% endfor %}
{% if with_postgrey %}
	check_policy_service unix:postgrey/socket
{% endif %}
{% for restriction in smtpd_recipient_restrictions_custom %}
	{{ restriction }}
{% endfor %}
smtpd_etrn_restrictions =
	permit_mynetworks
	reject
smtpd_data_restrictions =
	reject_unauth_pipelining
	reject_multi_recipient_bounce
biff = no
message_reject_characters = \0
qmqpd_error_delay = 5s
smtpd_error_sleep_time = 7s

{% if with_mailman2_gateway %}
# old mailman 2
mailman2_destination_recipient_limit = 1
{% endif %}

# Miscellaneous settings
recipient_delimiter = +
unknown_local_recipient_reject_code = 550

# Debug settings
debugger_command =
         PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
         ddd $daemon_directory/$process_name $process_id & sleep 5

